<header class="page-header">
  <button class="back-arrow"></button>
  <div class="logo">
    <h1>Ciel de Paris</h1>
    <h2>{{"Table for " + guestForm.get('guest').value + ", Today @ "+ activeSlot}}</h2>
  </div>
</header>
<main>
  <section class="main-content">
    <div class="calendar-container">
      <div class="reservation-date-container">
        <label for="reservation-date" class="reservation-date">Today</label>
        <select id="reservation-date" class="select-arrow reservation-date-select">
          <option selected></option>
        </select>
      </div>

      <div class="month-selector">
        <button class="left-calendar-arrow"></button>
        <span class="month-title">April 2017</span>
        <button class="right-calendar-arrow"></button>
      </div>
      <div class="week-days-container">
        <div class="week-day" *ngFor="let weekDay of displayedWeekDays">{{weekDay}}</div>
      </div>
      <div class="week" *ngFor="let week of month">
        <div class="day" *ngFor="let day of week"
             [ngClass]="{'selected-day': isSelectedDay(day), 'last-month-day': isLastMonthDay(day, week)}">{{day}}</div>
      </div>
    </div>

    <div class="select-table-container">
      <div class="guest-container">
        <form [formGroup]="guestForm" class="guest-form">
          <label for="guest" class="guest-group">Table for</label>
          <select id="guest" formControlName="guest" class="select-arrow guest-select">
            <option *ngFor="let guest of guests" [value]="guest.value">
              {{guest.viewValue}}
            </option>
          </select>
        </form>
      </div>

      <div class="slots-container">
        <span class="dinner">dinner</span>
        <div class="slots-content">
          <div class="slot-rect" *ngFor="let slot of actualSlots"
               [ngClass]="{'selected-slot-rect': isSelectedSlot(slot)}">
            <span [ngClass]="isSelectedSlot(slot) ? 'selected-slot-text' : 'simple-slot-text'">{{slot}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="update-container">
    <button class="update-button">update</button>
    <div class="indicator-rect"></div>
  </div>
</main>

